allow priv_app device:dir { read open };
allow priv_app proc_modules:file { getattr open read };
allow priv_app proc_interrupts:file { getattr open read };
allow priv_app fsck_exec:lnk_file { getattr };
