[access]
[access "refs/heads/*"]
	create = group Xiaomi Whyred Maintainers
	push = +force group Xiaomi Whyred Maintainers
	pushMerge = group Xiaomi Whyred Maintainers
	label-Code-Review = -2..+2 group Xiaomi Whyred Maintainers
	label-Verified = -1..+1 group Xiaomi Whyred Maintainers
	submit = group Xiaomi Whyred Maintainers
[access "refs/for/refs/heads/*"]
	pushMerge = group Xiaomi Whyred Maintainers
